:root {
    --hover-color:#df5f2c;
    --hover-color-opacity: #df5f2cbf;
}
a{ color: var(--hover-color); text-decoration: none; }
a:hover{ color: var(--hover-color-opacity); }
#topnav .navbar-nav .nav-link{ color: #282828; text-transform: uppercase; }
#topnav .navbar-nav .nav-link.active, #topnav .navbar-nav .nav-link:hover, #topnav .navbar-light .navbar-nav .show>.nav-link, #topnav .dropdown-item:focus, #topnav .dropdown-item:hover{ color: var(--hover-color);}
#topnav .dropdown-toggle::after{ display: none; }
.hover-text{ color: var(--hover-color); }

.carousel-indicators [data-bs-target] { opacity: 1; height: 8px; width: 8px; }
.carousel-indicators .active{ background-color: var(--hover-color); }
.carousel-item:after { content:""; display:block;position:absolute; top:0;  bottom:0; left:0; right:0; background:rgba(0,0,0,0.6);}
#slider .carousel-caption{ z-index: 99; left:10%; top: 50%; right: 35%; transform: translateY(-50%); bottom: 0px; text-align: left;}
#slider .carousel-caption h2{ font-size: 4rem; text-transform: uppercase;}
#slider .carousel-caption p{ font-size: 2rem; }
.readmore-btn{ background-color: var(--hover-color-opacity); border-radius: 10px; color: #ffffff; padding: 8px 10px 8px; line-height: 0.8; font-size: 20px; }
.readmore-btn:hover{ color: #ffffff; }

.readmore-btn-white{ background-color: #ebebeb; border-radius: 10px; color: var(--hover-color); padding: 3px 10px 5px; line-height: 1; font-size: 1rem; }
.readmore-btn-white:hover, #strengths .card:hover .readmore-btn-white{ color: #ffffff; background-color: var(--hover-color); }

.slider-clickable{ position: absolute; bottom: 20%; right: 10%; }
.slider-clickable .knowledge-btn a, .slider-clickable .knowledge-btn img{ display: inline-block; }
.slider-clickable .knowledge-btn a{ padding-left: 25px; z-index: 10;}
.slider-clickable .knowledge-btn img{ background-color: var(--hover-color); border-radius: 50%; height: 60px; padding: 5px; margin-right: -25px; position: relative; z-index: 15;}

.pr-0{ padding-right: 0px !important; }
.section-heading{ color: #747474; text-transform: uppercase; font-size: 6rem; font-weight: bold; }

.services-bg{ background:  url("../img/home/images/3.png"); background-position: -10%; background-repeat: no-repeat; background-size: cover;}
.services-item{ color: #747474; cursor: pointer; text-transform: uppercase; font-size: 3rem; padding: 4rem 1rem; text-align: center; background: #ffffffbf; margin-bottom: 0px; border-bottom: 10px solid #ffffff; }
.services-item:hover{ background-color: #df5f2cc4; color: #ffffff; }
.services-item a{ text-decoration: none; color: #747474;}
.services-item:hover a{ color: #ffffff; }
#testimonials, .blog-bg{ background-color: #ebebeb; }
#testimonials .carousel .carousel-indicators{ position: relative; }
#testimonials .carousel .carousel-item:after,
#blog .carousel .carousel-item:after{ background-color: transparent; }
#testimonials .carousel .carousel-item h2{ color: var(--hover-color); font-size: 3rem; margin-bottom: 1rem; }
#testimonials .carousel .carousel-item p{ font-size: 1.2rem; }
.blog-minus-mt{ margin-top: -4rem; }
#blog .nav-tabs{ border: 0px; }
#blog .nav-tabs .nav-item{ padding: 0px 15px; }
#blog .nav-tabs .nav-item.first{ border-right: 2px solid #747474; }
#blog .nav-tabs .nav-link{ background-color: transparent; text-transform: uppercase; color: #747474; font-weight: bold; font-size: 1.5rem; border: 0px; padding: 0px; }
#blog .nav-tabs .nav-link.first:after{ border-right: 2px solid #747474; }
#blog .nav-tabs .nav-link.active{ color: var(--hover-color); }
#footer{ background-color: #3c4145; color: #ffffff;}
#footer a{ color: #ffffff; }
#footer a:hover{ color: #f6f6f6; }
#footer p a{ color: #ebebeb; }
#footer p a:hover{ color: #f6f6f6; }
.footer-menu h6, .footer-menu p{ color: #747474; font-size: 14px; }
.footer-menu ul{ padding-left: 0px; list-style: none; font-size: 14px; }
.footer-menu ul li{ line-height: 1.8; }
.copyright{ font-size: 14px; color: var(--hover-color); }

/* services page css*/
.business-card{ cursor: pointer; }
.business-card .fs-h{ font-size: 2.5rem; text-transform: uppercase; }
.about-txt{ font-size: 1.8rem; }
.bg-dark-75{ background-color: #00000094; }
.business-card:hover .bg-card-orange{ background-color: #df5f2ce3; opacity: 1; } 
.business-card .btn-readmore{ background-color: var(--hover-color); color: #ffffff; font-size: 0.7rem; text-transform: uppercase; font-weight: bold; border-radius: 3px!important; }
.business-card .card-title{ min-height: 120px; }
.business-card:hover .btn-readmore{ background-color: #ffffff; color: var(--hover-color); }
.bg-orange{ background-color:  #df5f2c; }
.hover-text{ color: var(--hover-color); } 
.taxation-sub-items{ padding-left: 25px; }
.taxation-sub-items .list-group-item{ border:0px; margin-bottom: 10px; }
.taxation-sub-items .list-group-item img{ max-height: 50px; max-width:50px; margin-right: 20px; margin-top: 6px; }
.taxation-sub-items .list-group-item span.gray{ color: #747474;  }

/*why SBC*/
.card-img-overlay { background: var(--hover-color-opacity); position: absolute; height: 100%; width: 100%; left: 0;top: 0;bottom: 0;right: 0;opacity: 0;-webkit-transition: all 0.4s ease-in-out 0s;-moz-transition: all 0.4s ease-in-out 0s;transition: all 0.4s ease-in-out 0s}
.card-img-overlay.dark{ background-color: rgba(0,0,0,0.6); opacity: 1; }
#strengths .card{ border-color: var(--hover-color); cursor: pointer; }
#strengths .card:hover .card-img-overlay{ opacity: 1;}
#vision .vision-sections .card{ background-color: #ebebeb !important; border-radius: 16px; margin: 0px 15px; text-align: center; }
#vision .vision-sections .card .section-icon{ height: 120px; width: 120px; background-color: #ebebeb;  border: 5px solid #ffffff; border-radius: 50%; padding: 15px; }
#vision .vision-sections .card .section-icon img{  width: 100%; }

@media (min-width: 768px) {
    #blog .nav-tabs .carousel-inner .carousel-item-end.active,
    #blog .nav-tabs .carousel-inner .carousel-item-next {
      transform: translateX(50%);
    }
    
    #blog .nav-tabs.carousel-inner .carousel-item-start.active, 
    #blog .nav-tabs .carousel-inner .carousel-item-prev {
      transform: translateX(-50%);
    }
}

#blog .nav-tabs .carousel-inner .carousel-item-end,
#blog .nav-tabs .carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

@media all and (min-width: 992px) {
	#topnav .navbar .nav-item.dropdown:hover > .dropdown-menu{ display: block; }
	#topnav .navbar .nav-item > .dropdown-menu{ margin-top:0; }
    #topnav .dropdown-menu li:hover .submenu{ display: block; }
    #topnav .dropdown-menu li:hover .submenu-left{ left: 100%; bottom:20px } 
}